.twitch-badges{
    display: inline-block;
    /* height: 1rem; */
    width: auto;
    vertical-align: middle;
    /* background-color: red; */
    display: inline-flex;
    justify-self: center;
}

.twitch-badges > img{
    margin-right: 2px;
    max-height: 18px;
    vertical-align: baseline;
}