.twitch-badges{
    display: inline-block;
    height: 1rem;
    width: auto;
    display: inline-flex;
    justify-self: center;
}

.twitch-badges img{
    margin-right: 2px;
    height: 18px;
    vertical-align: middle;
}
