.modal {
    position: relative;
    width: 60%;
    height: 40%;
    background-color: rgba(25, 25, 25);
    border-radius: 10px;
    max-width: 800px;
    max-height: 700px;
    box-shadow: 0px 0px 15px 6px rgb(0, 0, 0, 0.2);
    min-height: 400px;
    z-index: 100;
    overflow-x: visible;
    overflow-y: scroll;
}

.close-modal {
    position: sticky;
    width: 40px;
    height: 40px;
    color: rgb(255, 85, 85);
    right: -5px;
    top: -5px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 8px;
    background-color: rgba(25, 25, 25);
    z-index: 999;
    margin-left: calc(100% - 40px);
    margin-top: 10px;
}

.close-modal:hover{
    transform: scale(0.9);
    background-color: rgb(255, 85, 85);
    color: rgba(25, 25, 25, 0.9);
}