.help-container{
    position: absolute;
    display: flex;
    width: calc(100%);
    align-items: center;
    text-align: center;
    word-break: break-word;
    flex-direction: column;
    top: 0;
}

.help-container h3{
    padding-top: 15px;
    font-size: 1.4rem;
    color: #f8f8f8;
    font-family: 'Segoe UI';
}

.commands-list {
    list-style-type: none;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    font-family: monospace;
}

.commands-list li{
    padding: 10px 5px 3px 5px;
    text-align: left;
    border-radius: 7px;
    transition: 0.8s;
    font-size: 1rem;
    color: #bd93f9;
}

.commands-list li .info{
    display: table;
    color: #f8f8f8;
    margin-top: 5px;
    margin-left: 15px;
}

.commands-list li .args{
    color: #50fa7b;
    margin-left: 15px;
}

.commands-list .new{
    display: inline-block;
    color: #f8f8f8;
    background-image: linear-gradient(205deg, #f3ec78c1, #ff5555e1);
    border-radius: 3px;
    margin-left: 15px;
    font-weight: 600;
    vertical-align: middle;
    padding: 0 5px;
}

.commands-list .more{
    color: #ffb86c;
}

.commands-list .twitch-badges{
    margin: 15px;
    text-align: center;
    justify-self: center;
    align-self: center;
}