.help-container{
    display: flex;
    width: calc(100%);
    align-items: center;
    text-align: center;
    word-break: break-word;
    flex-direction: column;
}

.help-container h3{
    padding-top: 15px;
    font-size: 1.4rem;
    color: #f8f8f8;
    font-family: 'Segoe UI';
}

.commands-list {
    list-style-type: none;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    font-family: monospace;
}

.commands-list li{
    padding: 10px 5px 3px 5px;
    text-align: left;
    border-radius: 7px;
    transition: 0.8s;
    font-size: 1rem;
    color: #bd93f9;
}

.commands-list li .info{
    display: table;
    color: #f8f8f8;
    margin-top: 5px;
    margin-left: 15px;
}

.commands-list li .args{
    color: #50fa7b;
    margin-left: 15px;
}

.commands-list .extra{
    color: #ffb86c;
    margin-left: 15px;
}

.commands-list .twitch-badges{
    margin: 15px;
    text-align: center;
    justify-self: center;
    align-self: center;
}
